.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
   
    height: 300px;
    width: 100%;
}

.link {
    color: var(--footer-text-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0;
}

.icon {
    margin-right: 0.5rem;
}