.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
   
    height: 300px;
    width: 100%;
}

.link {
    color: var(--footer-text-color);
    text-decoration: none;
}